.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.primaryBox {
  padding: 20px;
  background: #FFF;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 3px #00000008;
}

.dropzone {
  background: #eaeaea;
  padding: 34px;
  text-align: center;
}

.breadCrumb {
  background: #FFF;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px 2px #00000008;
}

.breadCrumb h4 {
  font-size: 12px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0;
}

.breadCrumb h2 {
  font-size: 20px;
  margin: 0;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
    font-family: "Arial";
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    text-decoration: none !important;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.signature {
    max-width: 431px;
}

.signature-content {
    margin-top: 25px;
    display: flex;
}

.signature-info {
    margin-left: 20px;
}

.signature-info h2 {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-weight: bold;
    color: #ff0380;
    text-transform: uppercase;
    font-size: 16px;
}

.signature-info h3 {
    margin: 0;
    padding: 0;
    font-family: "Arial";
    font-weight: normal;
    color: #1c1c1c;
    text-transform: capitalize;
    font-size: 14px;
}

.signature-info p {
    padding: 0;
    margin: 0;
}

.signature-info p a {
    padding: 0;
    margin: 0;
    font-family: "Arial";
    font-weight: normal;
    color: #808080;
    font-size: 13px;
}

.photo,
.contact-info {
    margin-left: 15px;
}

.social {
    margin-left: 15px;
    margin-top: 20px;
}

.social a {
    margin: 0;
    margin-left: 5px;
    text-decoration: none !important;
}

.contact-info {
    font-family: "Arial";
    color: #808080;
    font-size: 14px;
    margin-top: 20px;
    display: flex;
    margin-bottom: 20px;
}

.phone {
    display: flex;
    align-items: center;
}

.phone img {
    margin-right: 10px;
}

.contact-info a {
    margin: 0;
    margin-left: 100px;
    font-family: "Arial";
    color: #808080;
    font-size: 14px;
}

.photo img {
    border-radius: 100%;
}

.botaoAssinatura{
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-family: MuseoSans-500;
    color: #fff !important;
    border-radius: 1.5625rem;
    padding: .8125rem 1.25rem;
    background: -webkit-gradient(linear,left top,right top,from(#f70a7e),to(#faa702));
    background: -webkit-linear-gradient(left,#f70a7e,#faa702);
    background: -o-linear-gradient(left,#f70a7e,#faa702);
    background: linear-gradient(to right,#f70a7e,#faa702);
    -webkit-transition: -webkit-transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear,-webkit-transform .5s linear;
}

.addbtn{
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-family: MuseoSans-500;
    color: #fff !important;
    border-radius: 1.5625rem;
    padding: .8125rem 1.25rem;
    background: -webkit-gradient(linear,left top,right top,from(#f70a7e),to(#faa702));
    background: -webkit-linear-gradient(left,#f70a7e,#faa702);
    background: -o-linear-gradient(left,#f70a7e,#faa702);
    background: linear-gradient(to right,#f70a7e,#faa702);
    -webkit-transition: -webkit-transform .5s linear;
    -o-transition: transform .5s linear;
    transition: transform .5s linear;
    transition: transform .5s linear,-webkit-transform .5s linear;
}
.addbtn svg{margin-left: 8px;}