body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient {
  background: -webkit-gradient(linear,left top,right top,from(#f70a7e),to(#faa702));
  background: -webkit-linear-gradient(left,#f70a7e,#faa702);
  background: -o-linear-gradient(left,#f70a7e,#faa702);
  background: linear-gradient(to right,#f70a7e,#faa702);
}

.login_bg {
  background-image: url(https://diwe.com.br/wp-content/themes/pullup-theme/assets/img/img-bg.png);
  background-size: cover;
}

.whiteLabel {
  font-size: 14px;
  margin: 17px 0;
  position: relative;
  top: 13px;
  color: #b0b0b0;
}

.btn_login {
  margin-top: 15px !important;
  display: block;
}

.login_bg .MuiFormControl-root {
  min-width: 330px;
}

.btn_login {
  min-width: 171px !important;
}

.MuiListItemIcon-root span.material-icons.MuiIcon-root {
  width: 2em;
  height: 2em;
  font-size: 2em;
  color: #f81874;
  display: flex;
  align-items: center;
}

.close_main .spacerNav {
  width: 72px !important;
  min-width: 72px !important;
}

.crop-container {
  position: relative;
  width: 400px;
  height: 400px;
}